<section class="product-specification">
    <h2>性能参数</h2>

    <div class="row">
        <div class="col-md-8">
            <table>
                <tr>
                    <td>速度</td>
                    <td> {{ post.speed }} </td>
                </tr>
                <tr>
                    <td>控制</td>
                    <td> {{ post.control }} </td>
                </tr>
                <tr>
                    <td>旋转</td>
                    <td> {{ post.spin }} </td>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <h5>综合评分</h5>
            <div>{{ post.score }}</div>
        </div>
    </div>
</section>
